# Cal.com Booking Link
# Replace the value with your actual Cal.com booking link
VITE_CALLINK=your_calcom_booking_link_url

#KV
VITE_KV_REST_API_TOKEN="gQAAAAAAAiZqAAIgcDJkNGRiZWZjYmNmZDE0NmUyOGU4MzYwYjJkMTM2NmUyNw"
VITE_KV_REST_API_URL="https://exciting-seagull-140906.upstash.io"